@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

:root {
  --greyish: #acacac;
  --greyish-two: #b7b7b7;
  --pale-orange: #ffa15f;
  --greyish-brown: #4d4d4d;
  --dark-grey: #202124;
  --white: #fff;
  --white-two: #f6f6f6;
  --strawberry: #f63f45;
  --pumpkin-orange: #ff7413;
  --white-three: #ededed;
  --white-four: #d4d3d3;
  --bright-orange: #ff6900;
  --charcoal-grey: rgba(61, 61, 63, 0.8);
  --pea-green: #82bf11;
}

.App {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.wrapper-content {
  margin: 20px 0;
}
