@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

:root {
  --greyish-two: #b7b7b7;
  --pale-orange: #ffa15f;
  --greyish-brown: #4d4d4d;
  --dark-grey: #202124;
  --white: #fff;
  --white-two: #f6f6f6;
  --strawberry: #f63f45;
  --pumpkin-orange: #ff7413;
  --white-three: #ededed;
  --white-four: #d4d3d3;
}

.App {
  /* width: 100%; */
  width: 1180px;
  margin: 0 auto;
}

.wrapper-content {
  margin: 20px 0;
}
