.btn {
  border: 0;
  border-radius: 0;
  font-weight: 700;
}
.btn-size {
  display: inline-block;
  line-height: 40px;
  border: solid 1px #808080;
  font-size: 14px;
  color: var(--dark-grey);
  border-radius: 0 !important;
  background-color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 15px;
  transition: all 0.5s;

  &:hover {
    background-color: var(--pale-orange);
    color: var(--white);
    border: 1px solid transparent;
  }
}
.btn-size.active {
  background-color: var(--pale-orange);
  color: var(--white);
  border: 0;
}
.btn-size.disable {
  border: solid 1px var(--white-four);
  color: var(--greyish-brown);
  opacity: 0.3;
}

.btn-color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-top: 8px;
  margin-right: 15px;
}
.btn-color.active {
  border: 2px solid rgba($color: #000000, $alpha: 0.5);
}
