.form_search {
  position: relative;
  input {
    border-radius: 2px;
    border: solid 1px var(--white-three);
    height: 48px;
    padding: 0 20px;
    padding-left: 48px;
    width: 100%;
    max-width: 280px;
  }
  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.btn-seller {
  border-radius: 2px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0 15px;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s;
  border: 1px solid transparent;

  .icon {
    margin-right: 10px;
  }
}

.btn-seller.bg-orange:hover {
  border: 1px solid var(--pale-orange) !important;
  color: var(--pale-orange) !important;
  background-color: #fff !important;
}
.btn-seller.bg-orange {
  background-color: var(--pale-orange);
}
.btn-seller.bg-white {
  background-color: #fff;
  color: var(--pale-orange);
}
.btn-seller.bg-white:hover {
  border: 1px solid var(--pale-orange) !important;
  background-color: var(--pale-orange) !important;
  color: #fff !important;
}

.product_widgets {
  & > * {
    margin-left: 20px;
  }
}

.table {
  .ant-table {
    border: none;
  }
  .ant-table-thead {
    border-bottom: 1px solid var(--white-three);
    padding: 0 15px;
    line-height: 40px;
    .ant-table-column-title {
      font-size: 12px;
      font-weight: 600;
      color: var(--greyish);
      text-transform: uppercase;
    }

    .ant-table-row-cell-break-word {
      background-color: #fff;
    }
  }

  .ant-table-tbody {
    .ant-table-row {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      color: var(--charcoal-grey);
    }
    .ant-table-row:nth-child(2n) {
      background-color: var(--white-two);

      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      color: var(--charcoal-grey);
    }
  }
}
